body{
    font-family: "Goudy Bookletter 1911", sans-serif;
    color:blanchedalmond; 
}


#hero{

    width: 500px;
    height: 500px;
}

.hero-image{

    background-image: url(images/musjid.png);
    width: 400px;
    height: 400px;
    
}

#activities{

    background-color: aqua;
}